include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include Makefile
include tox.ini
recursive-include examples *.example
recursive-exclude tests *
recursive-exclude __pycache__ *
